body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  text-align: justify;
  line-height: 2.0;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  background-color: #004492;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav img {
  height: 40px;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  font-size: 14px;
}

nav a:nth-child(2) {
  margin-left: 10px;
}

nav a:not(.logo) {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  nav a {
    display: inline-block;
    margin: 0;
  }
}

section {
  padding: 5% 0;
  text-align: center;
}

section h1 {
  margin-bottom: 3%;
}

#home {
  padding-top: 90px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-grid img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 5px;
}

#about video {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  background-color: #ffffff;
  border: 1px solid #0366d6;
  padding: 20px;
  border-radius: 20px;
  width: calc(30% - 40px);
  margin: 20px;
  max-width: 300px;
}

.service img {
  max-width: 100%;
  height: auto;
}

#contact {
  text-align: center;
  padding: 20px;
}

.input-container {
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto;
}

#email {
  background-color: #f0f0f0;
}

#mensaje {
  background-color: #f0f0f0;
  resize: none;
}

.btn-enviar {
  background-color: #0366d6;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1200px) {
  .service {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 768px) {
  .image-grid img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  .image-grid img {
    max-width: 100px;
  }

  footer p {
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 5px;
  }
}

footer {
  text-align: center;
  background-color: #004492;
  color: #fff;
  padding: 20px;
  width: 100%;
  bottom: 0;
}

footer p {
  text-align: center;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}
